[submodule "external/cinolib"]
	path = external/cinolib
	url = https://github.com/mlivesu/cinolib.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "external/gdal"]
	path = external/gdal
	url = https://github.com/OSGeo/gdal.git
[submodule "external/VTK"]
	path = external/VTK
	url = https://github.com/Kitware/VTK.git
