[submodule "external/cinolib"]
	path = external/cinolib
	url = https://github.com/mlivesu/cinolib.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
